

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Faculty Glyphic", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('unnamed.jpg') no-repeat;
    background-size: cover;
}

.wrapper{
    
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 30px;
    padding: 30px 40px;

    
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 18px;
    color: white;
    padding-left: 20px;

}

.input-box input::placeholder{
    color:white;
}

.input-box i{
    position: absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px;
}

#show-password-toggle {
    display: block;
    right: 45px; 
    cursor: pointer;
    text-align: center;
}

.wrapper .btn{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    
}

.wrapper .btn:hover {
    background: rgb(210, 210, 210);
}

.wrapper .signupbutton{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;

}

.wrapper .signuplink{
    text-align: center;
    margin-top: 8px;
    
    
}

.signuplink p a{
    text-decoration: none;
    color: white;
   
}

#search-area {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

#search-area div {
    margin: auto;
    height: 100%;
}

#search-area div .btn {
    margin-top: 0px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-message {
    color: red;
    display: block;  
    margin-top: 10px;
    flex-wrap: wrap;  
}

#add-icon {
    background: transparent;
    width: auto;
    border: 2px solid rgba(117, 251, 76, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-icon:hover {
    background: rgba(117, 251, 76, 0.3);
}

svg {
    height: 2rem;
    width: 2rem;
}

#delete {
    fill: rgba(255, 255, 255, .7);
}

#delete:hover {
    fill: #ff3737;
}

#edit {
    fill: rgba(255,255,255,.7);
}

#edit:hover {
    fill: white;
}

#results-box {
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact-row {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
}